html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: 0 0; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff"); }
.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #BD5248;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

a {
  color: #BD5248;
  text-decoration: none;
  outline: 0; }

a:hover, a:focus {
  color: #d89993; }

::selection {
  background: #FFF498; }

::-moz-selection {
  background: #FFF498; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #FFF498; }

body {
  background: #F6F6F8;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Open Sans" sans-serif;
  color: #2E2D33;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

/* CSS Document */
.nav {
  font-family: Heebo, sans-serif;
  position: fixed;
  left: 30px;
  top: 30px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5); }
  .nav a {
    margin: 10px;
    font-size: 20px;
    
    color: rgba(0, 0, 0, 0.7);
    font-weight: 700;
    text-transform: uppercase; }
    .nav a:hover {
      color: black; }

header {
  font-family: Heebo, sans-serif;
  top: 0px;
  height: 1000px;
  background: url(../img/headerBackground.jpg);
  background-size: cover;  
  min-width: 100%; } 
  header h1 {
    margin: 0;
    /*margin-left: 15%;*/
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    letter-spacing: 0.03;
    clear: both;
    padding-top: 105px; }
    header h1 span {
      display: inline-block;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.5);
      border: white solid 2px; }
  header .tagline {
    /* remove line below to add tagline back in */
    color: rgba(0, 0, 0, 0);
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.03;
    padding-bottom: 10px; }

.headerabout {
  margin-top: -700px;
  height: 250px;
  width: 53%; 
  margin-left: 45%; }
.education {
  height: 450px;
  width: 53%;
  margin-left: 45%; }


@media screen and (max-width: 1400px) {
  .headerabout{
    margin-top: 20px;
    height: auto;
    width: 97%; 
    margin-left: 1.5%; }
  .education {
    height: auto;
    width: 97%; 
    margin-left: 1.5%; }
    .intro {
      width: 90%;
      margin: 0 auto; }
}

@media screen and (max-width: 550px) {
  .headerabout {
    padding-top: 30px; }
  header{
    height: 200px; }
    header h1 span {
      border: none;
      background-color: rgba(0, 0, 0, 0); }
    header h1 {
      padding-top: 200px; }
    header .tagline {
      color: rgba(0, 0, 0, 0); }
  .intro {
    font-size: 14px;
  }
  .nav {
    top: 0px;
    left: 0px;
    background-color: white; 
    width: 100%; }
    .nav #about-button {
      text-align: center;
      font-size: 18px;
      display: block;
      float: left;
      width: 33%;
      margin: 0; }
}
/* CSS Document */
footer {
  background: url(../img/headerBackground.jpg); }
  footer .lockup {
    padding: 5px 5px; }
    footer .lockup:after {
      content: "";
      display: table;
      clear: both; }
    footer .lockup .content-wrap {
      float: left; }
    footer .lockup .shoutout {
      font-family: Heebo, sans-serif;
      font-size: 14px;
      margin: 0;
      color: white; }
      footer .lockup .shoutout a {
        color: rgba(0, 0, 0, 0.7); }
        footer .lockup .shoutout a:hover {
          color: #c8c8c8; }

@media screen and (max-width: 800px) {
  footer .lockup .shoutout {
      font-size: 2vw; }
}
/* CSS Document */
h3 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0; }

h4 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 10px; }

.skills-section {
  font-family: Heebo, sans-serif;
  padding: 30px 0 30px;
  max-width: 1100px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: center; }
  .skills-section .about-me {
    text-align: center;
    width: 100%;
    order: 2; }
    .skills-section .about-me .intro {
      padding: 0 1.5%;
      width: 30%;
      text-align: left;
      float: left;
      margin: 0; }
    h4{
      font-size: 20px;
      color: rgba(0, 0, 0, 0.7); }

@media screen and (max-width: 550px) {
  .skills-section .about-me .intro {
    font-size: 14px;
    float: none; 
    width: 90%; 
    text-align: center; }
  .skills-section .about-me h4 {
    text-align: center;
    width: auto;
  }
    
}
.main-project-container {
  width: 47%;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  display: block;
  float: left;
  margin-left: 2.5%;
  margin-top: 2.5%; }
  
.project-container {
  width: 30%;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  display: block;
  float: left;
  margin-left: 2.5%;
  margin-top: 2.5%; }

.work-section {
  overflow: hidden;
  font-family: Heebo, sans-serif; }

.work-slider {
  width: 100%;
  position: relative;
  left: 0%;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s; }

.thumbnail-wrap {
  width: 90%;
  margin: 0 auto; }
  .thumbnail-wrap .work-close {
    height: 60px;
    width: 60px;
    background-image: url(../img/closeIcon.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    right: 30px;
    top: 50px;
    z-index: 1;
    cursor: pointer;
    opacity: 0.5; }
    .thumbnail-wrap .work-close:hover {
      opacity: 1; }
h3 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px; }

.thumbnail-section {
  border: 5px solid rgba(10, 10, 10, 0.4);
  max-width: 1300px;
  margin: 0px auto;
  padding-bottom: 2.5%; }
  .thumbnail-section:after {
    content: "";
    display: table;
    clear: both; }

.thumbnail {
  padding-top: 100%;
  display: block;
  width: 100%;
  float: left;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s; }
  .thumbnail .thumbnail-overlay {
    position: absolute;
    top: 0%;
    right: 0px;
    left: 0px;
    background: rgba(10, 10, 10, 0);
    color: rgba(10, 10, 10, 0);
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s; }
    .thumbnail .thumbnail-overlay strong {
      display: block;
      padding: 20px;
      font-size: 20px;
      text-align: center; }
  .thumbnail:hover .thumbnail-overlay {
    height: 100%;
    background: rgba(10, 10, 10, 0.8);
    color: white; }

.thumbnail-large {
  padding-top: 63%;
  display: block;
  width: 100%;
  float: left;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s; }
  .thumbnail-large .thumbnail-overlay {
    position: absolute;
    top: 0%;
    right: 0px;
    left: 0px;
    background: rgba(10, 10, 10, 0);
    color: rgba(10, 10, 10, 0);
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s; }
    .thumbnail-large .thumbnail-overlay strong {
      display: block;
      padding: 20px;
      font-size: 20px;
      text-align: center; }
  .thumbnail-large:hover .thumbnail-overlay {
    height: 100%;
    background: rgba(10, 10, 10, 0.8);
    color: white; }

.work-container {
  max-width: 1300px;
  margin: 0px auto;
  text-align: center;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s; }
  .work-container img {
    max-width: 100%; }

.synth-info {
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  text-align: center; }

.synth-picture {
  margin: 15px;
  margin-left: 10%;
  margin-right: 5%;
  width: 30%;
  padding-top: 30%;
  float: left;
  background-image: url(../img/SyntheticaSetupPic.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  
 .hippo-picture {
  margin: 15px;
  margin-left: 0;
  margin-right: 3%;
  width: 51%;
  padding-top: 23%;
  float: left;
  background-image: url(../img/HappyFunTimesController.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  
  
  .mech-gif {
  text-align:center;
  color:#FFFFFF;
  margin: 15px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  width: 90%;
  padding-top: 30%;
  float: left;
  background-image: url(../img/MechLordsCockpitDemo1.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  
  .overlord-gif {
  text-align:center;
  color:#FFFFFF;
  margin: 15px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  width: 45%;
  padding-top: 30%;
  float: left;
  background-image: url(../img/OverlordAttack.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.info-container {
  text-align: left;
  margin: 15px; }

.mixin-picture {
  margin: 25px;
  margin-right: 5%;
  width: 26%;
  padding-top: 40%;
  float: left;
  background-image: url(../img/MixinsCustomInspector1.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.other-vid {
  position: relative;
  height: 0px;
  margin: 15px;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  padding-bottom: 55%;
  float: left; }

p {
  margin: 15px;
  font-size: 16px; }

.demo-gifs {
  width: 80%;
  margin: auto; }
  .demo-gifs img {
    width: 45%;
    height: auto;
    float: left; }

.state-machine {
  float: left;
  margin-left: 15%;
  width: 70%;
  padding-top: 30%;
  background-image: url(../img/SyntheticaStateMachine.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

h2 {
  text-align: center;
  color: rgba(0, 0, 0, 0.7); }

/* CSS Document */
#contact-div {
  font-family: Heebo, sans-serif; }

p {
  font-size: 18px; }

.info {
  float: left;
  text-align: left;
  padding-left: 10px; }

.contact {
  margin: auto;
  margin-bottom: 75px;
  display: inline-block; }

form {
  margin-bottom: 10px;
  float: left;
  max-width: 600px; }
  form textarea {
    height: 10em; }
  form input, form textarea {
    border: 2px solid rgba(10, 10, 10, 0.4);
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 6px; }
  form .contact-info label {
    width: 48%;
    margin: 1%;
    margin-bottom: 20px;
    margin-top: 20px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
  form label {
    display: block;
    margin-bottom: 20px; }

@media screen and (max-width: 1100px) {
  .info {
    float: none;
    text-align: left;
    width: 90%;
    margin: 0 auto; }

  form {
    margin: 0 auto;
    float: none; } }
